bip32
bip_utils @ git+https://github.com/mavryk-network/bip_utils@mavryk-integration
GitPython
secp256k1
pymavryk @ git+https://github.com/mavryk-network/pymavryk@v3.14.0-rc2
ragger[speculos,ledgerwallet]==1.39.0
jupyter-client>=8.0.0
